@model BannerIndexViewModel

@{
    ViewData["Title"] = "Banners";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model.Banners)
{
    <div>
        <img src="@Url.Content(item.ImagePath)" style="height:200px;width:100%"/>
    </div>

    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
}
