@{
    ViewData["Title"] = "About Us";
}
<h3>@ViewData["Title"]</h3>
<img src="~/images/about-us.jpg" width="100%" />
<p>
   EGrocery is a world-class company founded with very simple core values and goals. Our products include Grocery and homemade kitchen food item and others. Our mission is to serve all daily needs and special festival related supplies, products, and needs.Our goal is to serve all your daily needs.

    We want to give our customers a reason to do business with us, employees a reason to become part of our team. At Grocerant we strive continuously to meet these goals and are proud to be one of the leading independent manufacturers and distributors in the food industry. We proudly serve the Dhaka city of Bangladesh.

    Customer service is the cornerstone of our business ethos, and we will go the extra mile to ensure that your experience with us is fun and satisfying. We are passionate about supporting your success while ensuring excellent customer service. We have a well-trained sales team who speaks English,Bengali & Hindi.

    Our goal is to build an exclusive customer base who can trust us with quality and best prices. To optimize this goal, we have a research team solely dedicated to study the market trends and to ensure the products’ quality. We understand the competitiveness in e-commerce marketing, hence we encourage our valuable customers to try our products giving the assurance of satisfaction. We know that You will win!.
</p><br />