@model IEnumerable<Category>
<div class="dropdown">
    <a class="nav-link dropdown-toggle text-dark" id="CategoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-list-alt"></i>
        Categories
    </a>
   
    <div class="dropdown-menu" aria-labelledby="CategoryDropdown">
        @foreach (var item in Model)
        {
        <a class="dropdown-item" asp-controller="Home" asp-action="Products" asp-route-Category="@item.CategoryId;">
            @Html.DisplayFor(modelItem => item.CategoryName)
        </a>
        }
        </div>
    </div>